/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

laq-root {
  display: flex;
  flex: 1;
  flex-flow: column;
}
